*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.title{

text-align: justify;
padding: 29px;

}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.container{

  background-color: #f0f0f0;
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


button {
  background-color: #007bff;
  color: white;
  margin-left: 7px;
  margin-top: 29px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
  max-width: 200px;
}

button:hover {
  background-color: #0056b3;
}

input {
  align-items: center;
  margin-top: 9px;
  margin-left: 7px;
  padding: 9px;
  width: 80%;
  border: 1px solid #060606;
  border-radius: 5px;
}

@media (max-width: 500px) {
  
 }